$min-mobile: 320px;
$mobile: 414px;
$max-mobile: 1023px;

$tablet-hero: 415px;
$tablet: 1024px;
$max-tablet: 1279px;

$desktop-hero: 1025px;
$desktop: 1280px;

.temp {
font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 69px;
    /* identical to box height */

    letter-spacing: 0.3em;

    color: #494848;
}