$primary-hero-color: #ffffff;
$primary-header-color: #000000;
$primary-text-color: #7a7a7a;
$secondary-text-color: #5F5F5F;
$subtitle-color: #b4b4b4;
$accent-color: #f3c653;
$brand-mimiho-color: #494848;
$contact-desktop-color: #828282;
$brown-color: #c79002;
$desq-color: #bababa;
$modal-placeholder-color: #808080;

$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Times New Roman', sans-serif;

$primary-bg-color: #fffdee;
$secondary-bg-color: #f0ecd6;
$footer-bg-color: #0e0c07;

$button-bg-color: #000000;

$primary-modal-text-color: #000000;
$secondary-modal-text-color: #ffffff;
