$primary-hero-color: #ffffff;
$primary-header-color: #000000;
$primary-text-color: #7a7a7a;
$subtitle-color: #b4b4b4;
$accent-color: #f3c653;
$brand-mimiho-color: #494848;
$contact-desktop-color: #828282;
$brown-color: #c79002;
$desq-color: #bababa;

$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Times New Roman', sans-serif;

$primary-bg-color: #fffdee;
$secondary-bg-color: #f0ecd6;
$footer-bg-color: #0e0c07;

$button-bg-color: #000000;

@mixin font($fs: 12px, $fw: 600, $lh: 1.25, $ls: 0.02em) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}
