<section class="hdouble-room">
  <div class="container">
    <div class="hdouble-room__hero">
      <!-- top adress -->
      <div class="hdouble-room__adress">
        <svg class="hdouble-room__top-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-location"></use>
        </svg>
        <ul class="hdouble-room__top-adress-list">
          <li class="hdouble-room__top-adress-text">Україна, м. Полтава,</li>
          <li class="hdouble-room__top-adress-text">
            ул. Маршала Бірюзова, 15
          </li>
        </ul>
      </div>

      <!-- arrow buttons -->
      <div class="hdouble-room__arrows">
        <button class="hdouble-room__button-arrow" type="button">
          <svg class="hdouble-room__icon-arrow" width="40" height="40">
            <use href="./images/sprite.svg#icon-arrow-left-hero"></use>
          </svg>
        </button>

        <button class="hdouble-room__button-arrow" type="button">
          <svg class="hdouble-room__icon-arrow" width="40" height="40">
            <use href="./images/sprite.svg#icon-cil_arrow-right"></use>
          </svg>
        </button>
        <!-- price button -->
        <div class="hdouble-room__button">
          <button
            class="hdouble-room__price-button"
            type="submit"
            data-modal-open-price3
          >
            Переглянути ціни
          </button>
        </div>
      </div>

      <!-- hero text -->
      <div class="hdouble-room__hero-text-block">
        <ul>
          <li class="hdouble-room__list">
            <h1 class="hdouble-room__title">ДВОМІСНИЙ НОМЕР</h1>
            <p class="hdouble-room__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </li>
        </ul>
      </div>

      <!-- adress / icons -->
      <div class="hdouble-room__social-media">
        <!-- down adress -->
        <div class="hdouble-room__down-adress">
          <svg class="hdouble-room__down-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          <ul class="hdouble-room__down-adress-list">
            <li class="hdouble-room__down-adress-text">Україна, м. Полтава,</li>
            <li class="hdouble-room__down-adress-text">
              ул. Маршала Бірюзова, 15
            </li>
          </ul>
        </div>
        <!-- social media icons -->
        <ul class="hdouble-room__icon-media-list">
          <li>
            <a href="https://www.instagram.com/" target="_blank">
            <svg class="hdouble-room__icon-media" width="24" height="24">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/" target="_blank">
            <svg class="hdouble-room__icon-media" width="24" height="24">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
            </a>
          </li>
          <li>
            <a href="https://web.telegram.org" target="_blank">
            <svg class="hdouble-room__icon-media" width="24" height="24">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
