<section class="double-room">
  <div class="container">
    <div class="double-room__hero">
      <!-- top adress -->
      <div class="double-room__adress">
        <svg class="double-room__top-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-location"></use>
        </svg>
        <ul class="double-room__top-adress-list">
          <div></div>
          <li class="double-room__top-adress-text">Україна, м. Полтава,</li>
          <li class="double-room__top-adress-text">ул. Маршала Бірюзова, 15</li>
        </ul>
      </div>

      <!-- main text -->
      <ul>
        <li class="double-room__list">
          <h1 class="double-room__title">ДВОМІСНИЙ НОМЕР люкс</h1>
          <p class="double-room__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </li>
      </ul>

      <!-- down adress -->
      <div class="double-room__down-adress">
        <svg class="double-room__down-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-location"></use>
        </svg>
        <ul class="double-room__down-adress-list">
          <div></div>
          <li class="double-room__down-adress-text">Україна, м. Полтава,</li>
          <li class="double-room__down-adress-text">
            ул. Маршала Бірюзова, 15
          </li>
        </ul>
      </div>

      <!-- price button -->
      <button class="double-room__price-button" type="submit">
        Переглянути ціни
      </button>

      <!-- arrow buttons -->
      <div class="double-room__arrows">
        <button class="double-room__left-arrow" type="button">
          <svg class="double-room__icon-arrow" width="40" height="40">
            <use href="./images/sprite.svg#icon-arrow-left-hero"></use>
          </svg>
        </button>

        <button class="double-room__right-arrow" type="button">
          <svg class="double-room__icon-arrow" width="40" height="40">
            <use href="./images/sprite.svg#icon-cil_arrow-right"></use>
          </svg>
        </button>

        <!-- social media icons -->
        <div class="double-room__social-media">
          <ul class="double-room__icon-media-list">
            <li>
              <svg class="double-room__icon-media" width="24" height="24">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </li>
            <li>
              <svg class="double-room__icon-media" width="24" height="24">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </li>
            <li>
              <svg class="double-room__icon-media" width="24" height="24">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
