<section class="amenities">
  <div class="container">
    <h2 class="amenities-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="amenities-text-title">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <ul class="amenities-list list">
      <li class="amenities-item">
        <h3 class="title">ЗАГАЛЬНІ</h3>
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>

      <li>
        <p class="amenities-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <ul class="amenities-list list">
      <li class="amenities-item">
        <h3 class="title">ВАННА КІМНАТА</h3>
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li>
        <p class="amenities-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <ul class="amenities-list list">
      <li class="amenities-item">
        <h3 class="title">СПАЛЬНЯ</h3>
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
    </ul>
    <ul class="amenities-list list">
      <li class="amenities-item">
        <h3 class="title">КУХНЯ</h3>
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li>
        <p class="amenities-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
    </ul>
    <ul class="amenities-list list">
      <li class="amenities-item">
        <h3 class="title">МЕДІА</h3>
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <div class="button-link">
      <button class="amenities-button" type="button">
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
      <a class="amenities-link link" href="#"
        >Повернутися до перегляду номерів</a
      >
    </div>
  </div>
</section>
