<section class="amenities">
  <div class="container">
    <h2 class="amenities-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="amenities-text-title">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <ul class="amenities-list list">
      <li class="amenities-item">
        <h3 class="title">ЗАГАЛЬНІ</h3>
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>

      <li>
        <p class="amenities-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <ul class="amenities-list list">
      <li class="amenities-item">
        <h3 class="title">ВАННА КІМНАТА</h3>
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li>
        <p class="amenities-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <ul class="amenities-list list">
      <li class="amenities-item">
        <h3 class="title">СПАЛЬНЯ</h3>
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
    </ul>
    <ul class="amenities-list list">
      <li class="amenities-item">
        <h3 class="title">КУХНЯ</h3>
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li>
        <p class="amenities-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
    </ul>
    <ul class="amenities-list list">
      <li class="amenities-item">
        <h3 class="title">МЕДІА</h3>
        <p class="text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <div class="button-link">
      <button
        class="amenities-button button"
        type="button"
        data-modal-open-room
      >
        ОФОРМИТИ БРОНЮВАННЯ
      </button>

      <a class="amenities-link link" href="./hotel.html"
        >Повернутися до перегляду номерів
        <svg class="icon-cil_arrow-right-room" width="24" height="24">
          <use href="./images/sprite.svg#icon-cil_arrow-right-room"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
