<section class="restaurant">
  <div class="container">
    <h2>Amet minim mollit non</h2>
    <h3>MIMIHO</h3>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul>
      <li class="">
        <div class="">
          <div class="">
            <img
              class="restaurant-interior"
              srcset="./src/images/desktop-image/desktop-photo-restaurant-1.jpg"
              alt="фото повара"
              width="522"
            />
            <img
              class="pexels-oruri-jacome"
              srcset="./src/images/desktop-photo-restaurant-1.jpg"
              alt="фото мяса для стейка"
              width="460"
            />
            <p class="pexels-oruri-list">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
