<section class="restaurant-life">
  <div class="container restaurant-life__centre">
    <h2 class="visual-hidden">Ресторан</h2>

    <div class="restaurant-life__time">
      <div class="restaurant-life__style">
        <p class="restaurant-life__star">Amet minim mollit non</p>
        <h3 class="restaurant-life__title">MIMIHO</h3>
        <p class="restaurant-life__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <img
        src="./images/mobile-image/mobile-photo-restaurant-1.jpg"
        srcset="
          ./images/mobile-image/mobile-photo-restaurant-1.jpg,
          ./images/mobile-image/mobile-photo-restaurant-1@x2.jpg
        "
        class="restaurant-life__img"
        alt="Фото"
        width="259"
        height="322"
      />
      <img
        src="./images/tablet-image/tablet-photo-restaurant-1.jpg"
        srcset="
          ./images/tablet-image/tablet-photo-restaurant-1.jpg,
          ./images/tablet-image/tablet-photo-restaurant-1@x2.jpg
        "
        class="restaurant-life__img1"
        alt="Фото"
        width="400"
        height="524"
      />
      <img
        src="./images/desktop-image/desktop-photo-restaurant-1.jpg"
        srcset="
          ./images/desktop-image/desktop-photo-restaurant-1.jpg,
          ./images/desktop-image/desktop-photo-restaurant-1@x2.jpg
        "
        class="restaurant-life__img2"
        alt="Фото"
        width="460"
        height="574"
      />
    </div>

    <div class="restaurant-life__flex">
      <img
        src="./images/mobile-image/mobile-photo-restaurant-2.jpg"
        srcset="
          ./images/mobile-image/mobile-photo-restaurant-2.jpg,
          ./images/mobile-image/mobile-photo-restaurant-2@x2.jpg
        "
        class="restaurant-life__img3"
        alt="Фото"
        width="200"
        height="278"
      />
      <img
        src="./images/tablet-image/tablet-photo-restaurant-2.jpg"
        srcset="
          ./images/tablet-image/tablet-photo-restaurant-2.jpg,
          ./images/tablet-image/tablet-photo-restaurant-2@x2.jpg
        "
        class="restaurant-life__img4"
        alt="Фото"
        width="350"
      />
      <img
        src="./images/desktop-image/desktop-photo-restaurant-2.jpg"
        srcset="
          ./images/desktop-image/desktop-photo-restaurant-2.jpg,
          ./images/desktop-image/desktop-photo-restaurant-2@x2.jpg
        "
        class="restaurant-life__img2"
        alt="Фото"
        width="460"
      />

      <p class="restaurant-life__text2">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="restaurant-life__service">
      <img
        class="restaurant-life__cam"
        srcset="
          ./images/mobile-image/mobile-slide-photo-restaurant-1.jpg,
          ./images/mobile-image/mobile-slide-photo-restaurant-1@x2.jpg
        "
        src="./images/desktop-image/desktop-slider-photo-restaurant-1.jpg"
        alt="photo"
        width="245"
      />
      <img
        class="restaurant-life__cam2"
        srcset="
          ./images/mobile-image/mobile-slide-photo-restaurant-2.jpg,
          ./images/mobile-image/mobile-slide-photo-restaurant-2@x2.jpg
        "
        src="./images/desktop-image/desktop-slider-photo-restaurant-2.jpg"
        alt="photo"
        width="245"
      />

      <div class="restaurant-life__slide">
        <button type="button" class="restaurant-life__btn">
          <svg width="32" height="32">
            <use href="./images/sprite.svg#icon-arrow-left-hero"></use>
          </svg>
        </button>
        <button type="button" class="restaurant-life__btn">
          <svg width="32" height="32">
            <use href="./images/sprite.svg#icon-cil_arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
