<section class="hero-restaurant">
  <div class="container">
    <div class="hero-restaurant__section">
      <div class="mob-address-hero">
        <a href="">
          <svg width="20" height="20" class="hero-location__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
        </a>
        <ul class="mob-address-hero__list list">
          <li class="mob-address-hero__text">Україна, м. Полтава,</li>
          <li class="mob-address-hero__text">ул. Маршала Бірюзова, 15</li>
        </ul>
      </div>
      <h1 class="hero-restaurant__title">MIMIHO</h1>
      <h3 class="hero-restaurant__pretitle">Ресторан</h3>
      <h2 class="hero-restaurant__subtitle">СМАК ЖИТТЯ 24/7</h2>
      <button data-modal-open type="button" class="book-table-btn btn">
        Забронювати столик
      </button>
      <button data-modal-open-room type="button" class="book-room-btn btn">
        Забронювати номер
      </button>
      <div class="tablet-hero">
        <div class="tablet-hero__address">
          <svg width="24" height="24" class="hero-tablet-location__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          <ul class="tablet-hero__list list">
            <li class="tablet-hero__text">Україна, м. Полтава</li>
            <li class="tablet-hero__text">ул. Маршала Бірюзова,15</li>
          </ul>
        </div>
        <div class="tablet-desktop-btn">
          <button
            data-modal-open2
            type="button"
            class="tablet-hero__button-table btn"
          >
            Забронювати столик
          </button>
          <button
            data-modal-open-room2
            type="button"
            class="tablet-hero__button-room btn"
          >
            Забронювати номер
          </button>
        </div>
      </div>
      <!-- <div class="tablet-hero-restaurant">
        <div class="tablet-hero-restaurant__address">
          <a href="">
            <svg width="24" height="24" class="hero-tablet-location__icon">
              <use href="./images/sprite.svg#icon-location"></use>
            </svg>
          </a>
          <ul class="tablet-hero-restaurant__list list">
            <li class="tablet-hero-restaurant__text">Україна, м. Полтава</li>
            <li class="tablet-hero-restaurant__text">
              ул. Маршала Бірюзова,15
            </li>
          </ul>
        </div>
        <div class="tablet-desktop-btn">
          <button
            data-modal-open
            type="button"
            class="tablet-hero-restaurant__button-table btn"
          >
            Забронювати столик
          </button>
          <button
            data-modal-open
            type="button"
            class="tablet-hero-restaurant__button-room btn"
          >
            Забронювати номер
          </button>
        </div>
      </div> -->

      <ul class="hero-follow-us-list list">
        <li class="hero-follow-us-list__item">
          <a href="https://www.instagram.com/" target="_blank">
            <svg width="24" height="24" class="hero-instagram__icon">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="hero-follow-us-list__item">
          <a href="https://www.facebook.com/" target="_blank">
            <svg width="24" height="24" class="hero-facebook__icon">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="hero-follow-us-list__item">
          <a href="https://web.telegram.org" target="_blank">
            <svg width="24" height="24" class="hero-telegram__icon">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
