<section class="section__restaurant-menu">
  <div class="container">
    <h2 class="restaurant__title">Меню ресторану</h2>
    <!--1 пункт-->
    <div class="restaurant__menupoint">
      <div class="restaurant__menuitem">
        <h3 class="restaurant__list">Гарячі страви</h3>
        <div class="restaurant">
          <div class="restaurant__block">
            <div class="restaurant__description">
              <p class="restaurant__dish">Борщ з телятини з квасолею</p>
              <p class="restaurant__ingredients">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </p>
            </div>
            <p class="restaurant__weight">400 г</p>
            <p class="restaurant__price">240 грн</p>
          </div>
          <div class="restaurant__block">
            <div class="restaurant__description">
              <p class="restaurant__dish">Суп сирний з куркою</p>
              <p class="restaurant__ingredients">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </p>
            </div>
            <p class="restaurant__weight">400 г</p>
            <p class="restaurant__price">200 грн</p>
          </div>
          <div class="restaurant__block">
            <div class="restaurant__description">
              <p class="restaurant__dish">Паста карбонара</p>
              <p class="restaurant__ingredients">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </p>
            </div>
            <p class="restaurant__weight">350 г</p>
            <p class="restaurant__price">430 грн</p>
          </div>
          <div class="restaurant__block">
            <div class="restaurant__description">
              <p class="restaurant__dish">Стейк зі свинини</p>
              <p class="restaurant__ingredients">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </p>
            </div>
            <p class="restaurant__weight">400 г</p>
            <p class="restaurant__price">500 грн</p>
          </div>
          <div class="restaurant__block">
            <div class="restaurant__description">
              <p class="restaurant__dish">Горбуша в соусі з білого вина</p>
              <p class="restaurant__ingredients">
                Ніжна горбуша, вершковий соус на основі білого вина
              </p>
            </div>
            <p class="restaurant__weight">400 г</p>
            <p class="restaurant__price">400 грн</p>
          </div>
        </div>
        <!--2 пункт-->
        <h3 class="restaurant__list">Гарніри та закуски</h3>
        <div class="restaurant">
          <div class="restaurant__block">
            <div class="restaurant__description">
              <p class="restaurant__dish">Запечені овочі</p>
              <p class="restaurant__ingredients">
                Кабачок, перець, помідор, баклажан
              </p>
            </div>
            <p class="restaurant__weight">200 г</p>
            <p class="restaurant__price">230 грн</p>
          </div>
          <div class="restaurant__block">
            <div class="restaurant__description">
              <p class="restaurant__dish">Картопля фрі</p>
              <p class="restaurant__ingredients">Картопля, соус томатний</p>
            </div>
            <p class="restaurant__weight">150 г</p>
            <p class="restaurant__price">160 грн</p>
          </div>
          <div class="restaurant__block">
            <div class="restaurant__description">
              <p class="restaurant__dish">Картопля по-селянськи</p>
              <p class="restaurant__ingredients">
                Картопля, спеції, соус пікантний
              </p>
            </div>
            <p class="restaurant__weight">150 г</p>
            <p class="restaurant__price">160 грн</p>
          </div>
          <div class="restaurant__block">
            <div class="restaurant__description">
              <p class="restaurant__dish">Хрумкі соління з бочки</p>
              <p class="restaurant__ingredients">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </p>
            </div>
            <p class="restaurant__weight">250 г</p>
            <p class="restaurant__price">350 грн</p>
          </div>
          <div class="restaurant__block restaurant__block--tabletmargin">
            <div class="restaurant__description">
              <p class="restaurant__dish">Крильця курячі в медовому соусі</p>
              <p class="restaurant__ingredients">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </p>
            </div>
            <p class="restaurant__weight">400 г</p>
            <p class="restaurant__price">420 грн</p>
          </div>
        </div>
      </div>
      <div class="restaurant__menuitem">
        <!--3 пункт-->
        <h3 class="restaurant__list">Салати</h3>
        <div class="restaurant">
          <div class="restaurant__block">
            <div class="restaurant__description">
              <p class="restaurant__dish">Цезар з куркою</p>
              <p class="restaurant__ingredients">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </p>
            </div>
            <p class="restaurant__weight">230 г</p>
            <p class="restaurant__price">450 грн</p>
          </div>
          <div class="restaurant__block">
            <div class="restaurant__description">
              <p class="restaurant__dish">Цезар з креветками</p>
              <p class="restaurant__ingredients restaurant__ingredients--widht">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </p>
            </div>
            <p class="restaurant__weight">230 г</p>
            <p class="restaurant__price">300 грн</p>
          </div>
          <div class="restaurant__block">
            <div class="restaurant__description">
              <p class="restaurant__dish">Грецький салат</p>
              <p class="restaurant__ingredients">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </p>
            </div>
            <p class="restaurant__weight">230 г</p>
            <p class="restaurant__price">280 грн</p>
          </div>
          <div class="restaurant__block">
            <div class="restaurant__description">
              <p class="restaurant__dish">М’ясний салат</p>
              <p class="restaurant__ingredients">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </p>
            </div>
            <p class="restaurant__weight">230 г</p>
            <p class="restaurant__price">300 грн</p>
          </div>
        </div>
        <!--4 пункт-->
        <h3 class="restaurant__list">Десерти</h3>
        <div class="restaurant">
          <div class="restaurant__block-desserts">
            <div class="restaurant__description">
              <p class="restaurant__dish-desserts">Торт наполеон</p>
            </div>
            <p class="restaurant__weight">230 г</p>
            <p class="restaurant__price">300 грн</p>
          </div>
          <div class="restaurant__block-desserts">
            <div class="restaurant__description">
              <p class="restaurant__dish-desserts">Торт маковий</p>
            </div>
            <p class="restaurant__weight">230 г</p>
            <p class="restaurant__price">300 грн</p>
          </div>
          <div
            class="restaurant__block-desserts restaurant__block-desserts--marginchange"
          >
            <div class="restaurant__description">
              <p class="restaurant__dish-desserts">Тірамісу</p>
            </div>
            <p class="restaurant__weight">120 г</p>
            <p class="restaurant__price">260 грн</p>
          </div>
        </div>
        <!--5 пункт-->
        <h3 class="restaurant__list">Напої</h3>
        <div class="restaurant">
          <div class="restaurant__block-desserts">
            <div class="restaurant__description">
              <p class="restaurant__dish-desserts">Чай чорний/зелений</p>
            </div>
            <p class="restaurant__weight">500 мл</p>
            <p class="restaurant__price">100 грн</p>
          </div>
          <div class="restaurant__block-desserts">
            <div class="restaurant__description">
              <p class="restaurant__dish-desserts">Еспресо</p>
            </div>
            <p class="restaurant__weight">30 мл</p>
            <p class="restaurant__price">100 грн</p>
          </div>
          <div class="restaurant__block-desserts">
            <div class="restaurant__description">
              <p class="restaurant__dish-desserts">Американо</p>
            </div>
            <p class="restaurant__weight">150 мл</p>
            <p class="restaurant__price">100 грн</p>
          </div>
          <div class="restaurant__block-desserts">
            <div class="restaurant__description">
              <p class="restaurant__dish-desserts">Капучино</p>
            </div>
            <p class="restaurant__weight">200 мл</p>
            <p class="restaurant__price">160 грн</p>
          </div>
          <div class="restaurant__block-desserts">
            <div class="restaurant__description">
              <p class="restaurant__dish-desserts">Лате</p>
            </div>
            <p class="restaurant__weight">200 мл</p>
            <p class="restaurant__price">160 грн</p>
          </div>
        </div>
      </div>
    </div>
    <div class="restaurant__btn">
      <button type="button" class="restaurant__modalbtn" data-modal-open3>
        Забронювати столик
      </button>
    </div>
  </div>
</section>
