.contacts {
  background-color: $primary-bg-color;
  padding-top: 35px;
  padding-bottom: 30px;
}

.contacts-subtitle {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: $primary-text-color;
}
.contacts-restourant__pretitle {
  padding-right: 35px;
}
.contacts-restourant__pretitle,
.contacts-hotel__pretitle {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: $brown-color;
}
.contacts-restourant {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.contacts-hotel {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}
.contacts-hotel__tels {
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts-hotel__tels,
.contacts-restourant__link {
  list-style: none;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: $brand-mimiho-color;

  background: $primary-hero-color;
  /* Akzent yellow */

  border: 0.5px solid $accent-color;
  border-radius: 2px;
  padding: 8px;
}
.contacts-hotel__link {
  color: $brand-mimiho-color;
}
.contacts-restourant__link {
  width: auto;
}
.contacts-address {
  display: flex;
  justify-content: right;
  list-style: none;
  margin-bottom: 30px;
}
.contacts-address__link {
  position: relative;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;

  color: $brand-mimiho-color;

  background: $primary-hero-color;
  /* Akzent yellow */

  border: 0.5px solid $accent-color;
  border-radius: 2px;
  width: 260px;
  padding: 8px 33px 8px 44px;
}
.contacts-hotel__icon,
.contacts-restourant__icon {
  fill: $accent-color;
}
.contacts-restourant__icon {
  margin-right: 10px;
}
.contacts-address__icon {
  fill: $accent-color;
  position: absolute;
  top: 25px;
  left: 10px;
}
.contacts-map {
  @media screen and ($max-mobile) {
    max-width: 384px;
    height: 220px;
  }
  border: 1px solid #bababa;
  /* shadow_little */

  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
