
.triple-room  {
    background-color: $secondary-bg-color;

}

.room-title-wrapper {
    text-align: end;
}

.room-description-wrapper  {
    margin-left: 75px;
}

.triple-room-pic  {
    margin-right: auto;
}

.swiper-triple-btns  {
    text-align: right;
}

.swiper-wrapper-triple  {
    margin-left: 0px;
    margin-right: -130px;
}