.amenities {
    background-color: $primary-bg-color;
    padding-top: 32px;
    padding-bottom: 32px;
}

.amenities-title {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;
    margin-bottom: 16px;
    color: $primary-header-color;
}

.amenities-text-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
    letter-spacing: 0.02em;
    color: $primary-text-color;

    @media screen and (min-width: $tablet) {
        max-width: 757px;
    }
}

.amenities-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
    letter-spacing: 0.02em;
    color: $primary-text-color;

    @media screen and (min-width: $tablet) {
        max-width: 400px;
        margin-top: 42px;

    }

    @media screen and (min-width: $desktop) {
        margin-right: 135px;
    }
}

.amenities-list {
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
    }
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
    color: $primary-text-color;

    @media screen and (min-width: $tablet) {
        max-width: 400px;
    }
}

.title {
    font-family: 'Times New Roman';
    font-style: normal;
    list-style: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 16px;
    color: $primary-header-color;
}

.amenities-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    padding: 20px 43px;
    min-width: 384px;
    height: 64px;
    color: $primary-hero-color;
    background-color: $primary-header-color;
    border: 1px solid $accent-color;
    border-radius: 25px;
    margin-bottom: 20px;
}

.amenities-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $brown-color;
}

.button-link {
    @media screen and (min-width: $tablet) {
        flex-direction: column;
    }
}