<div class="backdrop is-hidden" data-modal-price2>
  <div class="modal">
    <button class="modal__close" type="button" data-modal-close-price2>
      <svg class="modal__icon-close" height="24" width="24">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="modal-title">ЦІНИ НА НОМЕР</h3>
    <p class="modal-type-room">Трьохмісний</p>
    <p class="modal-room-category">Категорія номеру</p>
    <form class="form-price">
      <label class="form__field">
        <svg class="form__icon" height="24" width="24">
          <use href="./images/sprite.svg#icon-arrow-down-bold"></use>
        </svg>
        <select class="form__input" name="type-room">
          <option value="n-1" selected>1</option>
          <option value="n-2">2</option>
          <option value="n-3">3</option>
        </select>
        <span class="form__label">Кількість ночей</span>
      </label>

      <label class="form__field">
        <input class="form__input" type="text" placeholder="1000" />
        <span class="form__label form__label-last">грн</span>
      </label>
    </form>
    <button class="form__field-button" type="submit" class="">
      ОФОРМИТИ БРОНЮВАННЯ
    </button>
  </div>
</div>
