<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__close" type="button" data-modal-close>
      <svg class="modal__icon-close" height="24" width="24">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="modal-title">ЗАБРОНЮВАТИ НОМЕР</h3>
    <form class="form-room">
      <label class="form-room__field">
        <input
          class="form-room__input"
          type="text"
          id="name"
          placeholder="Ваше ім'я"
        />
        <span class="form__label">На кого забронювати номер?</span>
      </label>

      <label class="form-room__field">
        <input
          class="form-room__input"
          type="tel"
          id="phone"
          name="phone"
          placeholder="+38 (___) ___-__-__"
        />
        <span class="form__label">Номер телефону</span>
      </label>

      <label class="form-room__field">
        <svg class="form__icon" height="24" width="24">
          <use href="./images/sprite.svg#icon-arrow-down-bold"></use>
        </svg>
        <select class="form-room__input" id="type-room" name="type-room">
          <option value="dl" selected>Двомісний люкс</option>
          <option value="d">Двомісний</option>
          <option value="t">Трьохмісний</option>
        </select>
        <span class="form__label">Категорія номеру</span>
      </label>

      <label class="form-room__field">
        <svg class="form__icon" height="24" width="24">
          <use href="./images/sprite.svg#icon-arrow-down-bold"></use>
        </svg>
        <select
          class="form-room__input"
          id="entrance-date"
          name="entrance-date"
        >
          <option value="dl" selected>Сьогодні</option>
          <option value="d">Завтра</option>
        </select>
        <span class="form__label">Дата заїзду</span>
      </label>

      <label class="form-room__field">
        <svg class="form__icon" height="24" width="24">
          <use href="./images/sprite.svg#icon-arrow-down-bold"></use>
        </svg>
        <select
          class="form-room__input"
          id="departure-date"
          name="departure-date"
        >
          <option value="dl" selected>Сьогодні</option>
          <option value="d">Завтра</option>
        </select>
        <span class="form__label">Дата виїзду</span>
      </label>

      <button class="form__field-button" type="submit" class="">
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
    </form>
  </div>
</div>
