<section class="double-room hotel-rooms">
  <div class="container">
    <div class="category-room-wrapper">
      <p class="subtitle-double subtitle-room">Amet minim mollit non</p>
      <h2 class="title-mimiho-style title-mimiho-second">MIMIHO</h2>
      <h3 class="title-double title-room">ДВОМІСНИЙ НОМЕР</h3>

      <div class="hotel-text-wrapp">
        <p class="text-double text-room">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <img
      srcset="
        /src/images/mobile-image/mobile-photo-hotel-3@x2.jpg 1x,
        /src/images/mobile-image/mobile-photo-hotel-3@x2.jpg 2x
      "
      class="double-room-pic pic"
      src="/src/images/mobile-image/mobile-photo-hotel-3.jpg"
      alt=" Ліжко для двох"
      width="244"
      height="322"
    />

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide about-hotel__delet-icon-tablet">
          <img
            width="194"
            height="194"
            srcset="
              /src/images/mobile-image/mobile-slide-photo-hotel-5.jpg    1x,
              /src/images/mobile-image/mobile-slide-photo-hotel-5@x2.jpg 2x
            "
            src="/src/images/mobile-image/mobile-slide-photo-hotel-5.jpg"
            alt="обідня кімната"
          />
        </div>

        <div class="swiper-slide about-hotel__delet-icon-mobile">
          <img
            width="194"
            height="194"
            srcset="
              /src/images/mobile-image/mobile-slide-photo-hotel-bul3.jpg    1x,
              /src/images/mobile-image/mobile-slide-photo-hotel-bul3@x2.jpg 2x
            "
            src="/src/images/mobile-image/mobile-slide-photo-hotel-bul3.jpg"
            alt="обідня кімната"
          />
        </div>

        <div class="swiper-slide">
          <img
            width="194"
            height="194"
            srcset="
              /src/images/mobile-image/mobile-slide-photo-hotel-6@x2.jpg 1x,
              /src/images/mobile-image/mobile-slide-photo-hotel-6@x2.jpg 2x
            "
            src="/src/images/mobile-image/mobile-slide-photo-hotel-6.jpg"
            alt="ванна кімната"
          />
        </div>
      </div>

      <div class="swiper-btns">
        <button type="button" class="swiper-btn swiper-btn-prev">
          <svg class="swiper-btn__icon" width="32" height="32">
            <use href="/src/images/sprite.svg#icon-arrow-left-hero"></use>
          </svg>
        </button>

        <button type="button" class="swiper-btn swiper-btn-next">
          <svg class="swiper-btn__icon" width="32" height="32">
            <use href="/src/images/sprite.svg#icon-cil_arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="hotel-buttons-wrapper">
      <a class="btn-room-details link-rooms" href="./room-double.html"
        >Детальніше</a
      >
      <button
        class="btn-room-prices btn-rooms"
        type="button"
        data-modal-open-price3
      >
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
