<footer class="section section--footer">
    <div class="container container--footer">
        <a class="logo footer--logo" href="./index.html">mimiho</a>
       <div class="footer__blok">
        <ul class="footer__list">
            <li class="footer__item">
                <a class="footer__link" href="./index.html">Головна</a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="./restaurant.html">Ресторан</a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="./hotel.html">Готель</a>
            </li>
        </ul>
        <ul class="social-list">
            <li class="social-list__item">
                <a class="social-list__link" href="https://www.instagram.com/" target="_blank">
                    <span class="social-list__name">Instagram</span>
                    <svg class="social-list__icon" width="24" height="24">
                        <use href="./images/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list__item">
                <a class="social-list__link" href="https://www.facebook.com/" target="_blank">
                    <span class="social-list__name">Facebook</span>
                    <svg class="social-list__icon" width="24" height="24">
                        <use href="./images/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list__item">
                <a class="social-list__link" href="https://web.telegram.org" target="_blank">
                   <span class="social-list__name"> Telegram</span>
                    <svg class="social-list__icon" width="24" height="24">
                        <use href="./images/sprite.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
        </ul>
       </div>
    </div>
</footer>