$primary-hero-color: #ffffff;
$primary-header-color: #000000;
$primary-text-color: #7a7a7a;
$subtitle-color: #b4b4b4;
$accent-color: #f3c653;
$brand-mimiho-color: #494848;
$contact-desktop-color: #828282;
$brown-color: #c79002;
$desq-color: #bababa;

$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Times New Roman', sans-serif; //ne zhaishla na Google Fonts povunen bytu za zamovchyvannyan?!

$primary-bg-color: #fffdee;
$secondary-bg-color: #f0ecd6;
$footer-bg-color: #0e0c07;

$button-bg-color: #000000;

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul,
ol {
    margin: 0px;
    padding-left: 0px;
}

.visual-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    list-style: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: $primary-text-color;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    max-width: 414px;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width: $tablet) {
        max-width: 1024px;
        padding: 0 47px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 1280px;
        padding: 0 85px;
    }
}

