.restaurant-life {
    background-color: $primary-bg-color;
    padding-top: 16px;
    padding-bottom: 20px;

    @media (max-width: $tablet) {
        overflow: hidden;
    }

    @media (min-width: $tablet) {
        padding-bottom: 0;
        height: 1254px;
    }

    @media (min-width: $desktop) {
        height: 1275px;
    }
}

.container.restaurant-life__centre {
    min-width: 320px;

    @media (min-width: $tablet) {
        height: 1238px;
    }

}

.restaurant-life__time {
    @media (min-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: flex-start;
        gap: 26px;
        transform: translateY(-32px);
    }

    @media (min-width: $desktop) {
        gap: 37px;
    }
}

.restaurant-life__star {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.16;
    color: $subtitle-color;
    margin-bottom: 12px;
    margin-right: auto;

    @media (min-width: $tablet) {
        font-size: 32px;
    }
}

.restaurant-life__title {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    text-align: left;
    color: $brand-mimiho-color;


    @media (min-width: $desktop) {
        color: $contact-desktop-color;
    }
}

.restaurant-life__text {
    width: 258px;
    margin-bottom: 28px;
    margin-top: 12px;
    margin-right: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $primary-text-color;


    @media (min-width: $tablet) {
        width: 439px;
        margin-top: 24px;
        margin-bottom: 0;
        margin-right: 0;

        font-size: 16px;
    }

    @media (min-width: $desktop) {
        width: 518px;
    }
}

.restaurant-life__img {
    width: 244px;
    height: 322px;
    margin-left: auto;
    margin-bottom: 32px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    background-color: #dadada;

    @media (min-width: $tablet) {
        display: none;
    }

    .restaurant-life__img1 {
        display: none;

        @media (min-width: $tablet) and (max-width: $desktop) {
            display: block;
            width: 244px;
            height: 322px;
            margin-left: auto;
            margin-bottom: 32px;
            box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
            border-radius: 2px;
            background-color: #dadada;
        }
    }
}

.restaurant-life__img2 {
    display: none;

    @media (min-width: $desktop) {
        display: block;
        width: 460px;
        height: 574px;
        background: #DADADA;
        box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
    }
}

.restaurant-life__flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @media (min-width: $tablet) {
        justify-content: flex-start;
        gap: 48px;
        transform: translateY(-46px);
    }

    @media (min-width: $desktop) {
        gap: 32px;
        transform: translateY(-99px);
    }
}

.restaurant-life__img3 {
    width: 200px;
    height: 278px;
    margin-bottom: 32px;

    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    background-color: #dadada;

    @media (min-width: $tablet) {
        display: none;
        transform: translateY(-46px);
    }
}

.restaurant-life__img4 {
    display: none;

    @media (min-width: $tablet) and (max-width: $desktop) {
        display: block;
        width: 200px;
        height: 278px;
        margin-bottom: 32px;

        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        background-color: #dadada;
    }
}

.restaurant-life__text2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $brown-color;

    @media (min-width: $tablet) {
        width: 312px;
        font-size: 16px;
    }
}

.restaurant-life__service {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
    margin-left: 70px;

    @media (min-width: $tablet) {
        justify-content: flex-end;
        gap: 40px;
        margin-bottom: 32px;
        transform: translateY(-74px);
    }

    @media (min-width: $desktop) {
        transform: translateY(-246px);
    }
}

.restaurant-life__cam {
    width: 245px;
    height: 245px;
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    &.hidden {
        opacity: 60%;
    }

    @media (min-width: $tablet) {
        width: 194px;
        height: 194px;

        &.hidden {
            opacity: 100%;
        }
    }

    @media (min-width: $desktop) {
        display: none;
    }
}

.restaurant-life__cam2 {
    display: none;

    @media (min-width: $desktop) {
        display: block;
        width: 254px;
        height: 254px;
        background: $desq-color;
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
    }
}

.restaurant-life__slide {
    display: flex;
    gap: 32px;
    justify-content: flex-end;

    @media (min-width: $tablet) {
        transform: translateY(-74px);
    }

    @media (min-width: $desktop) {
        transform: translateY(-246px);
    }
}

.restaurant-life__btn:hover,
.restaurant-life__btn:focus {
    fill: $accent-color;
}