.hero-restaurant {
  padding: 181px 0;
  margin: 0 auto;
  max-width: 414px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //   background-color:  rgba(0, 0, 0, 0.65);
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../images/mobile-image/mobile-hero-2.jpg),
    url(../images/mobile-image/mobile-hero-2@x2.jpg);
}

.hero-restaurant__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-restaurant__title {
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 96px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: $primary-hero-color;

  margin-bottom: 24px;
}

.hero-restaurant__pretitle {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $primary-hero-color;

  margin-bottom: 40px;
}

.hero-restaurant__subtitle {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: $primary-hero-color;

  margin-bottom: 113px;
}

button .btn {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 25px;
}

.book-table-btn,
.book-room-btn {
  padding: 14px 24px;
  color: $accent-color;
  border: 2px solid #ffffff;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0 auto;
  min-width: 236px;
}

.book-table-btn:hover,
.book-table-btn:active {
  border: 2px solid;
  border-color: #f3c653;
  background-color: #fff;
}

.book-room-btn:hover,
.book-room-btn:active {
  border: 2px solid;
  border-color: #f3c653;
  background-color: #fff;
}

.book-table-btn {
  margin-bottom: 24px;
}

// modal

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function),
    visibility 3450ms var(--timing-function);
}
// MODAL MODAL
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 414px;
  height: 668px;
  background-color: #fff;
  background: $primary-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms var(--timing-function);
}

.feedback {
  width: 414px;
}

.feedback-title {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 40px;
  text-align: center;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

form {
  max-width: 414px;
  padding: 60px 15px;
}

.form-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 20px;

  & label {
    margin-top: 10px;
    margin-left: 15px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #c79002;
  }

  //   &__text {
  //     width: 100%;
  //     height: 120px;
  //     padding: 14px;
  //     font-style: inherit;
  //     border: 1px solid rgba(33, 33, 33, 0.2);
  //     border-radius: 4px;
  //     font-size: 12px;
  //     padding: 12px 16px;
  //     resize: none;
  //   }
}

.wrapper {
  position: relative;
}

.wrapper__input {
  width: 100%;
  height: 54px;
  padding-left: 15px;
  font: inherit;
  border: 1px solid;
  border-color: #c79002;
  font-size: 20px;
  //   transition: transform 250ms var(--timing-function),
  //     outline 250ms var(--timing-function), border 250ms var(--timing-function);
}

input::placeholder {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
}

.send__button {
  padding: 20px 43px;
  background: #000000;
  border: 1px solid;
  border-color: $accent-color;
  display: block;
  margin: 0 auto;
  min-width: 384px;
  margin-top: 40px;
}

.send__button:hover,
.send__button:active {
  background: #f3c653;
  border: 1px solid #f3c653;
  border-radius: 2px;
  color: #000000;
}

.btn-send {
  color: white;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
  border-radius: 2px;
}
