.hero-main {
  padding: 64px 0 22 0;
  margin: 0 auto;
  max-width: 414px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../images/mobile-image/mobile-hero-3.jpg),
    url(../images/mobile-image/mobile-hero-3@x2.jpg);

  @media screen and (min-width: $mobile) {
    max-width: 1024px;
    padding: 64px 0 22 0;

    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/tablet-image/tablet-hero-3.jpg),
      url(../images/tablet-image/tablet-hero-3@x2.jpg);
  }

  @media screen and (min-width: $tablet) {
    max-width: 1280px;
    padding: 188px 0 16px 0;

    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/desktop-image/desktop-hero-3.jpg),
      url(../images/desktop-image/desktop-hero-3@x2.jpg);
  }

  @media screen and (min-width: $desktop) {
    padding: 164px 0 64px 0;
    // max-width: 1280px;
  }

  &__title {
    font-family: 'Film P3';
    @include font($fs: 96px, $fw: 700, $lh: 1.07, $ls: 0.3em);
    color: $primary-hero-color;
    margin-bottom: 24px;
    padding-left: 33px;

    @media screen and (min-width: $tablet) {
      font-family: 'Film P3';
      color: $primary-hero-color;
      @include font($fs: 128px, $fw: 700, $lh: 1.07, $ls: 0.3em);
      margin-bottom: 16px;
      padding-left: 38px;
    }

    @media screen and (min-width: $desktop) {
      font-family: 'Film P3';
      color: $primary-hero-color;
      @include font($fs: 128px, $fw: 700, $lh: 1.07, $ls: 0.3em);
      margin-bottom: 32px;
      padding-left: 38px;
    }
  }

  &__pretitle {
    font-family: 'Montserrat';
    color: $primary-hero-color;
    @include font($fs: 16px, $fw: 600, $lh: 1.25, $ls: 0.02em);
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
      font-family: 'Montserrat';
      @include font($fs: 20px, $fw: 600, $lh: 1.2, $ls: 0.02em);
      color: $primary-hero-color;
      margin-bottom: 56px;
    }

    @media screen and (min-width: $desktop) {
      font-family: 'Montserrat';
      @include font($fs: 20px, $fw: 600, $lh: 1.2, $ls: 0.02em);
      color: $primary-hero-color;
      margin-bottom: 64px;
    }
  }

  &__subtitle {
    font-family: 'Times New Roman';
    @include font($fs: 32px, $fw: 700, $lh: 1.18, $ls: 0.05em);
    color: $primary-hero-color;
    margin-bottom: 113px;

    @media screen and (min-width: $tablet) {
      font-family: 'Times New Roman';
      @include font($fs: 36px, $fw: 700, $lh: 1.13, $ls: 0.05em);
      color: $primary-hero-color;
      margin-bottom: 137px;
    }
  }
}

.hero-main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mob-address-hero {
  border: 1px solid;
  border-color: rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  padding: 8px 3px 9px 11px;
  // max-width: 210px;
  // width: 100%;

  display: inline-flex;
  align-items: center;
  margin-left: auto;
  justify-content: space-evenly;
  margin-bottom: 70px;

  &__list {
    // display: inline-block;
    margin-left: 13px;
  }

  &__text {
    font-family: 'Montserrat';
    @include font($fs: 12px, $fw: 400, $lh: 1.2, $ls: 0.01em);
    color: #e5e5e5;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.hero-location__icon {
  display: flex;
  align-items: center;
  fill: $accent-color;
}

.btn {
  font-family: 'Montserrat';
  @include font($fs: 16px, $fw: 700, $lh: 1.25, $ls: 0.02em);
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 25px;
}

.book-table-btn,
.book-room-btn {
  padding: 14px 0;
  color: $accent-color;
  border: 2px solid #ffffff;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0 auto;
  min-width: 236px;
  letter-spacing: 0.02em;

  &:hover,
  &:active {
    border: 2px solid;
    border-color: #f3c653;
    background-color: #fff;
  }

  @media screen and (min-width: $tablet) {
    position: absolute;
    visibility: hidden;
    display: none;
  }
}

.book-table-btn {
  margin-bottom: 24px;
}

.hero-follow-us-list {
  display: flex;
  justify-content: center;
  margin-top: 61px;
  margin-right: auto;

  &__item {
    width: 24px;
    height: 24px;
    margin-right: 23px;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 25px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.hero-instagram__icon,
.hero-facebook__icon,
.hero-telegram__icon {
  fill: $accent-color;
  &:hover,
    :focus {
      fill: $brown-color;
    }
}

.tablet-hero {
  display: none;

  &__address {
    @media screen and (min-width: $tablet) {
      border: 1px solid;
      border-color: rgba(243, 198, 83, 0.7);
      border-radius: 2px;
      padding: 8px 8px 8px 16px;
      // width: 285px;
      display: inline-flex;
      margin-right: 137px;
      align-items: center;
    }

    @media screen and (min-width: $tablet) {
      // justify-content: space-evenly;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 0;
      // justify-content: space-evenly;
    }
  }

  &__list {
    display: inline-block;
    // margin-left: auto;
    margin-left: 10px;
  }

  &__text {
    font-family: 'Montserrat';
    @include font($fs: 16px, $fw: 400, $lh: 1.25, $ls: 0.01em);
    color: #e5e5e5;
  }

  &__button-table,
  &__button-room {
    padding: 14px 0;
    color: $accent-color;
    border: 2px solid #ffffff;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    margin: 0 auto;
    min-width: 236px;

    &:hover,
    &:active {
      border: 2px solid;
      border-color: #f3c653;
      background-color: #fff;
    }

    @media screen and (min-width: $desktop) {
      min-width: 254px;
      padding: 14px 35px;
    }
  }

  &__button-table {
    margin-right: 40px;

    @media screen and (min-width: $desktop) {
      margin-right: 60px;
    }
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.tablet-desktop-btn {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.hero-tablet-location__icon {
  fill: $accent-color;
  margin-right: 5px;
}
