.hero-restaurant {
  padding: 64px 0 22 0;
  margin: 0 auto;
  max-width: 414px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../images/mobile-image/mobile-hero-2.jpg),
    url(../images/mobile-image/mobile-hero-2@x2.jpg);

  @media screen and (min-width: $mobile) {
    max-width: 1024px;
    padding: 64px 0 22 0;

    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/tablet-image/tablet-hero-2.jpg),
      url(../images/tablet-image/tablet-hero-2@x2.jpg);
  }

  @media screen and (min-width: $tablet) {
    max-width: 1280px;
    padding: 188px 0 16px 0;

    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/desktop-image/desktop-hero-2.jpg),
      url(../images/desktop-image/desktop-hero-2@x2.jpg);
  }

  @media screen and (min-width: $desktop) {
    padding: 164px 0 64px 0;
  }

  &__title {
    font-family: 'Film P3';
    @include font($fs: 96px, $fw: 700, $lh: 1.07, $ls: 0.3em);
    color: $primary-hero-color;
    margin-bottom: 20px;
    padding-left: 33px;

    @media screen and (min-width: $tablet) {
      font-family: 'Film P3';
      color: $primary-hero-color;
      @include font($fs: 128px, $fw: 700, $lh: 1.07, $ls: 0.3em);
      margin-bottom: 16px;
      padding-left: 38px;
    }

    @media screen and (min-width: $desktop) {
      font-family: 'Film P3';
      color: $primary-hero-color;
      @include font($fs: 128px, $fw: 700, $lh: 1.07, $ls: 0.3em);
      margin-bottom: 32px;
      padding-left: 38px;
    }
  }

  &__pretitle {
    font-family: 'Montserrat';
    color: $primary-hero-color;
    @include font($fs: 16px, $fw: 600, $lh: 1.25, $ls: 0.02em);
    margin-bottom: 44px;

    @media screen and (min-width: $tablet) {
      font-family: 'Montserrat';
      @include font($fs: 20px, $fw: 600, $lh: 1.2, $ls: 0.02em);
      color: $primary-hero-color;
      margin-bottom: 56px;
    }

    @media screen and (min-width: $desktop) {
      font-family: 'Montserrat';
      @include font($fs: 20px, $fw: 600, $lh: 1.2, $ls: 0.02em);
      color: $primary-hero-color;
      margin-bottom: 64px;
    }
  }

  &__subtitle {
    font-family: 'Times New Roman';
    @include font($fs: 32px, $fw: 700, $lh: 1.18, $ls: 0.05em);
    color: $primary-hero-color;
    margin-bottom: 113px;

    @media screen and (min-width: $tablet) {
      font-family: 'Times New Roman';
      @include font($fs: 36px, $fw: 700, $lh: 1.13, $ls: 0.05em);
      color: $primary-hero-color;
      margin-bottom: 137px;
    }

    @media screen and (min-width: $desktop) {
      font-family: 'Times New Roman';
      @include font($fs: 36px, $fw: 700, $lh: 1.13, $ls: 0.05em);
      color: $primary-hero-color;
      margin-bottom: 137px;
    }
  }
}

.hero-restaurant__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-follow-us-list {
  display: flex;
  justify-content: center;
  margin-top: 61px;
  margin-right: auto;

  &__item {
    width: 24px;
    height: 24px;
    margin-right: 23px;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 25px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}
