.mHotel__title {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  /* identical to box height */

  letter-spacing: 0.3em;

  color: #494848;
}
