.mHotel {
  background-color: #fffdee;
}
.mHotel__name {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  color: #b4b4b4;
  padding-top: 18px;
  text-align: right;
}

.mHotel__title {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  /* identical to box height */

  letter-spacing: 0.3em;
  text-align: right;
  color: #494848;
  margin-top: 6px;
}
.mHotel__about {
  list-style-type: none;
  margin-top: 16px;
}

.mHotel__img {
  width: 244px;
  padding-top: 28px;
  height: 322px;
}
.mHotel__list > p {
  padding-left: 143px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;

  color: #7a7a7a;
}
.mHotel__flex {
  display: flex;
  padding-top: 32px;
}
.mHotel__flex > p {
  padding-top: 70px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #c79002;
}
.mHotel__screw {
  margin-top: 32px;
  padding-bottom: 20px;
}
.mHotel__screw > img {
  padding-left: 70px;
  padding-right: 69px;
  padding-bottom: 20px;
}
.mHotel__button {
  background: transparent;
  border: none;
  margin-right: 33px;
  padding: 0;
}

//ГОТЕЛЬ 2 слайд
.bHotel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/src/images/mobile-image/background.jpg);
  background-position: center;
  background-size: cover;
}
.bHotel__title {
  padding-top: 24;
  text-align: center;
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  /* identical to box height */

  letter-spacing: 0.3em;

  color: #ffffff;
}
.bHotel__name {
  margin-top: 12px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #ffffff;
  padding-left: 186px;
}
.bHotel > p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;

  color: #bababa;
  width: 243px;
  padding-left: 17px;
  margin-top: 20px;
}
.bHotel > img {
  margin-top: 48px;
  width: 274px;
  height: 270px;
  margin-left: 85;
}
.bHotel__button {
  border: none;
  padding: 0;
  background-image: none;
  fill: #ffffff;
  background: transparent;
  margin-left: 33px;
}
.bHotel__div {
  text-align: end;
  padding-right: 27px;
  margin-top: 16px;
}
.bHotel__reservation {
  margin-top: 32px;
  display: inline-flex;
  flex-direction: column;

  padding-bottom: 40px;
}
.bHotel__buttonres {
  width: 236px;
  height: 48px;
  background: rgba(0, 0, 0, 0.4);

  border: 2px solid #ffffff;
  border-radius: 25px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #f3c653;
}
