<section class="mHotel">
  <div class="container">
    <div class="mHotel__tablet">
      <div>
        <h3 class="mHotel__name">Amet minim mollit non</h3>
        <h3 class="mHotel__title">MIMIHO</h3>

        <p class="mHotel__list">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./images/mobile-image/mobile-photo-hotel-1.jpg    1x,
              ./images/mobile-image/mobile-photo-hotel-1@x2.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 1024px)"
          />
          <source
            srcset="
              ./images/tablet-image/tablet-photo-hotel-1.jpg    1x,
              ./images/tablet-image/tablet-photo-hotel-1@x2.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 1280px)"
          />
          <img
            class="mHotel__img"
            src="./images/desktop-image/desktop-photo-hotel-1@x2.jpg"
            alt=""
          />
        </picture>
      </div>
    </div>
    <div class="mHotel__flex">
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        class="mHotel__img-bot"
        src="/src/images/desktop-image/desktop-photo-hotel-4@x2.jpg"
        alt=""
      />
    </div>

    <div class="mHotel__screw">
      <div class="mHotel__srewImg">
        <img
          class="mHotel__srewImg0"
          src="/src/images/mobile-image/mobile-slide-photo-hotel-bul1.jpg"
          alt=""
        />

        <img
          class="mHotel__srewImg1"
          src="/src/images/mobile-image/mobile-slide-photo-hotel-7.jpg"
          alt=""
        />
        <img
          class="mHotel__srewImg2"
          src="/src/images/desktop-image/desktop-slide-photo-hotel-8@x2.jpg"
          alt=""
        />
      </div>
      <button type="button" class="mHotel__button" aria-labelledby="прогорнути лівопуч">
        <svg width="32" height="32">
          <use href="/src/images/sprite.svg#icon-arrow-left-hero"></use>
        </svg>
      </button>
      <button type="button" class="mHotel__button" aria-labelledby="прогорнути праворуч">
        <svg width="32" height="32">
          <use href="/src/images/sprite.svg#icon-cil_arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
