<section class="about-restaurant">
  <div class="container about-restaurant__measures">
    <h2 class="visual-hidden">Про наш ресторан</h2>

    <div class="about-restaurant__part">
      <div class="about-restaurant__info">
        <p class="about-restaurant__slogan">Amet minim mollit non</p>
        <h3 class="title-mimiho-style light">MIMIHO</h3>
        <p class="about-restaurant__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <img
        src="/src/images/mobile-image/mobile-photo-restaurant-3.jpg"
        srcset="
          /src/images/mobile-image/mobile-photo-restaurant-3.jpg    1x,
          /src/images/mobile-image/mobile-photo-restaurant-3@x2.jpg 2x
        "
        class="about-restaurant__photo"
        alt="Інтер'єр ресторану"
        width="244"
        height="322"
      />
      <img
        src="/src/images/tablet-image/tablet-photo-restaurant-3.jpg"
        srcset="
          /src/images/tablet-image/tablet-photo-restaurant-3.jpg    1x,
          /src/images/tablet-image/tablet-photo-restaurant-3@x2.jpg 2x
        "
        alt="Інтер'єр ресторану"
        width="400"
        class="about-restaurant__photo-tablet"
      />
      <img
        src="/src/images/desktop-image/desktop-photo-restaurant-3.jpg"
        srcset="
          /src/images/desktop-image/desktop-photo-restaurant-3.jpg    1x,
          /src/images/desktop-image/desktop-photo-restaurant-3@x2.jpg 2x
        "
        alt="Інтер'єр ресторан"
        width="460"
        class="about-restaurant__desktop"
      />
    </div>

    <div class="about-restaurant__pic">
      <img
        src="/src/images/mobile-image/mobile-photo-restaurant-4.jpg"
        srcset="
          /src/images/mobile-image/mobile-photo-restaurant-4.jpg    1x,
          /src/images/mobile-image/mobile-photo-restaurant-4@x2.jpg 2x
        "
        class="about-restaurant__photo-sec"
        alt="Інтер'єр ресторану"
        width="200"
        height="278"
      />
      <img
        src="/src/images/tablet-image/tablet-photo-restaurant-4.jpg"
        srcset="
          /src/images/tablet-image/tablet-photo-restaurant-4.jpg    1x,
          /src/images/tablet-image/tablet-photo-restaurant-4@x2.jpg 2x
        "
        alt="Інтер'єр ресторану"
        width="350"
        class="about-restaurant__tablet-sec"
      />
      <img
        src="/src/images/desktop-image/desktop-photo-restaurant-4.jpg"
        srcset="
          /src/images/desktop-image/desktop-photo-restaurant-4.jpg    1x,
          /src/images/desktop-image/desktop-photo-restaurant-4@x2.jpg 2x
        "
        alt="Інтер'єр ресторан"
        width="460"
        class="about-restaurant__desktop"
      />
      <p class="about-restaurant__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="about-restaurant__slider">
      <img
        src="/src/images/mobile-image/mobile-slide-photo-restaurant-3.jpg"
        srcset="
          /src/images/mobile-image/mobile-slide-photo-restaurant-3.jpg    1x,
          /src/images/mobile-image/mobile-slide-photo-restaurant-3@x2.jpg 2x
        "
        alt="Вино"
        width="245"
        class="about-restaurant_square"
      />
      <img
        src="/src/images/mobile-image/mobile-slide-photo-restaurant-4.jpg"
        srcset="
          /src/images/mobile-image/mobile-slide-photo-restaurant-4.jpg    1x,
          /src/images/mobile-image/mobile-slide-photo-restaurant-4@x2.jpg 2x
        "
        alt="Сервірування столу"
        width="245"
        class="about-restaurant_square hidden about-restaurant__delet-icon-tablet"
      />
      <img
        src="/src/images/mobile-image/mobile-slide-photo-restaurant-bul.jpg"
        srcset="
          /src/images/mobile-image/mobile-slide-photo-restaurant-bul.jpg    1x,
          /src/images/mobile-image/mobile-slide-photo-restaurant-bul@x2.jpg 2x
        "
        alt="Сервірування столу"
        width="245"
        class="about-restaurant_square hidden about-restaurant__delet-icon-mobile"
      />
      <img
        src="/src/images/desktop-image/desktop-slider-photo-restaurant-3.jpg"
        srcset="
          /src/images/desktop-image/desktop-slider-photo-restaurant-3.jpg    1x,
          /src/images/desktop-image/desktop-slider-photo-restaurant-3@x2.jpg 2x
        "
        alt="Вино"
        width="254"
        class="about-restaurant_square-desktop"
      />
      <img
        src="/src/images/desktop-image/desktop-slider-photo-restaurant-4.jpg"
        srcset="
          /src/images/desktop-image/desktop-slider-photo-restaurant-4.jpg    1x,
          /src/images/desktop-image/desktop-slider-photo-restaurant-4@x2.jpg 2x
        "
        alt="Сервірування столу"
        width="254"
        class="about-restaurant_square-desktop"
      />
    </div>
    <div class="about-restaurant__arrows">
      <button
        type="button"
        class="about-restaurant__button"
        aria-labelledby="прогорнути лівопуч"
      >
        <svg width="32" height="32" class="about-restaurant__icon">
          <use href="/src/images/sprite.svg#icon-cil_arrow-slide"></use>
        </svg>
      </button>
      <button
        type="button"
        class="about-restaurant__button"
        aria-labelledby="прогорнути праворуч"
      >
        <svg width="32" height="32" class="about-restaurant__icon">
          <use href="/src/images/sprite.svg#icon-cil_arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
