<section class="hero-main">
    <div class="container">
        <div class="hero-main__section">
            <div class="hero-main__address">
                <svg width="14" height="10" class="hero-main__address-icon">
                    <use></use>
                </svg></a>
                <p class="hero-main__address-text">Україна, м. Полтава, вул. Маршала Бірюзова, 15</p>
            </div>
            <h1 class="hero-main__title">MIMIHO</h1>
            <h3 class="hero-main__pretitle">Ресторанно-готельний комплекс</h3>
            <h2 class="hero-main__subtitle">СМАК ЖИТТЯ 24/7</h2>
            <button data-modal-open type="button" class="book-table-btn btn">
                Забронювати столик
            </button>
            <button data-modal-open type="button" class="book-room-btn btn">
                Забронювати номер
            </button>
        </div>
        <div class="backdrop is-hidden" data-modal>
            <div class="modal">
                <button data-modal-close class="modal__button">

                </button>

                <form type="group" class="feedback" autocomplete="off">
                    <h2 class="feedback-title">ЗАБРОНЮВАТИ СТОЛИК</h2>
                    <div class="form-item">
                        <div class="wrapper">
                            <input type="text" name="name" id="user-name" class="wrapper__input"
                                placeholder="Ваше ім’я" />
                        </div>
                        <label for="user-name" class="form-item__label">На кого забронювати столик?</label>
                    </div>

                    <div class="form-item">
                        <div class="wrapper">
                            <input type="text" name="name" id="user-name" class="wrapper__input"
                                placeholder="+38 (___) ___-__-__" />
                        </div>
                        <label for="user-tel" class="form-item__label">Номер телефону</label>
                    </div>

                    <div class="form-item">

                        <div class="wrapper">
                            <input type="text" name="name" id="user-name" class="wrapper__input" placeholder="2" />
                        </div>
                        <label for="user-email" class="form-item__label">Столик на яку кількість осіб?</label>
                    </div>

                    <div class="form-item">
                        <div class="wrapper">
                            <input type="text" name="name" id="user-name" class="wrapper__input"
                                placeholder="Сьогодні" />
                        </div>
                        <label for="user-email" class="form-item__label">На яку дату бронювати?</label>
                    </div>
                    <button type="submit" class="send__button btn-send">ОФОРМИТИ БРОНЮВАННЯ</button>
                </form>
            </div>
        </div>
    </div>
</section>