<div class="container mHotel">
  <h3 class="mHotel__name">Amet minim mollit non</h3>
  <h3 class="mHotel__title">MIMIHO</h3>
  <ul class="mHotel__about">
    <li class="mHotel__list">
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        class="mHotel__img"
        src="/src/images/mobile-image/mobile-photo-hotel-1.jpg"
        alt="ФОТО НОМЕРУ"
      />
    </li>
    <li class="mHotel__flex">
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        class="mHotel__img-bot"
        src="/src/images/mobile-image/mobile-photo-hotel-4.jpg"
        alt=""
      />
    </li>
    <li></li>
  </ul>
  <div class="mHotel__screw">
    <img src="/src/images/mobile-image/mobile-slide-photo-hotel-7.jpg" alt="" />
    <button type="button" class="mHotel__button">
      <svg width="32" height="32">
        <use href="/src/images/sprite.svg#icon-arrow-left-hero"></use>
      </svg>
    </button>
    <button type="button" class="mHotel__button">
      <svg width="32" height="32">
        <use href="/src/images/sprite.svg#icon-cil_arrow-right"></use>
      </svg>
    </button>
  </div>
</div>

<div class="container bHotel">
  <h3 class="bHotel__title">MIMIHO</h3>
  <h2 class="bHotel__name">Готель</h2>
  <p>
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit.
  </p>
  <img src="/src/images/mobile-image/mobile-slide-photo-hotel-11.jpg" alt="" />
  <div class="bHotel__div">
    <button type="button" class="bHotel__button">
      <svg width="32" height="32">
        <use href="/src/images/sprite.svg#icon-arrow-left-hero"></use>
      </svg>
    </button>
    <button type="button" class="bHotel__button">
      <svg width="32" height="32">
        <use href="/src/images/sprite.svg#icon-cil_arrow-right"></use>
      </svg>
    </button>
  </div>
  <div class="bHotel__reservation">
    <button class="bHotel__buttonres">Забронювати номер</button>
    <button class="bHotel__buttonres down">Переглянути ціни</button>
  </div>
</div>
