<section class="mHotel">
  <div class="container">
    <h3 class="mHotel__name">Amet minim mollit non</h3>
      <h3 class="mHotel__title">MIMIHO</h3>
    <ul class="mHotel__about">
      
      <li class="mHotel__list">
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img class="mHotel__img"
          src="/src/images/mobile-image/mobile-photo-hotel-1.jpg"
          alt="ФОТО НОМЕРУ"
          
        />
      </li>
      <li>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img src="/src/images/mobile-image/mobile-photo-hotel-4.jpg" alt="" />
      </li>
      <li></li>
    </ul>
  </div>
</section>
<section>
  <div class="container">
    <h3>MIMIHO</h3>
    <h2>Готель</h2>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <img src="/src/images/mobile-image/mobile-hero-1.jpg" alt="" />
  <div>
              <button>
            <svg width="32" height="32">
                <use href="/src/images/sprite.svg#icon-arrow-left-hero"></use>
            </svg>
        </button>
         <button>
            <svg width="32" height="32">
                <use href="/src/images/sprite.svg#icon-cil_arrow-right"></use>
            </svg>
         </button>
    
   
   </div>
    <div>
       <button>
        Забронювати номер</button>
            <button>Переглянути ціни</button>
  </div>
</section>
