<section class="bHotel">
  <div class="container">
    <h3 class="bHotel__title">MIMIHO</h3>
    <h2 class="bHotel__name">Готель</h2>
    <p class="bHotel_pargraf">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <div class="bHotel__flex">
      <div class="bHotel__imgflex">
        <img
          class="bHotel__hiden"
          src="/src/images/mobile-image/mobile-slide-photo-hotel-bul.jpg"
          alt=""
        />
        <img
          class="bHotel__imgflex1"
          src="/src/images/desktop-image/desktop-slide-photo-hotel-11@x2.jpg"
          alt=""
        />

        <img
          class="bHotel__imgflex2"
          src="/src/images/tablet-image/tablet-slide-photo-hotel-10.jpg"
          alt=""
        />

        <img
          class="bHotel__imgflex3"
          src="/src/images/mobile-image/mobile-slide-photo-hotel-11.jpg"
          alt=""
        />
      </div>
      <div class="bHotel__div">
        <button
          type="button"
          class="bHotel__button"
          aria-labelledby="прогорнути лівопуч"
        >
          <svg width="32" height="32">
            <use href="/src/images/sprite.svg#icon-arrow-left-hero"></use>
          </svg>
        </button>
        <button
          type="button"
          class="bHotel__button"
          aria-labelledby="прогорнути праворуч"
        >
          <svg width="32" height="32">
            <use href="/src/images/sprite.svg#icon-cil_arrow-right"></use>
          </svg>
        </button>
      </div>
      <div class="bHotel__reservation">
        <button class="bHotel__buttonres" data-modal-open-room3>
          Забронювати номер
        </button>

        <a href="./hotel.html" class="bHotel__buttonres down"
          >Переглянути ціни</a
        >
      </div>
    </div>
    <div class="bHotel__div1">
      <button type="button" class="bHotel__button">
        <svg width="32" height="32">
          <use href="/src/images/sprite.svg#icon-arrow-left-hero"></use>
        </svg>
      </button>
      <button type="button" class="bHotel__button">
        <svg width="32" height="32">
          <use href="/src/images/sprite.svg#icon-cil_arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
