<section class="restdetails-section">
  <div class="container">
    <h2 class="visual-hidden">Ресторан</h2>
    <div class="restdetails">
      <h3 class="restdetails__name">MIMIHO</h3>
      <p class="restdetails__secondname">Ресторан</p>
      <p class="restdetails__desription">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <!--mobile slider-->
    <div class="restdetails__mobileslider">
      <img
        src="/src/images/mobile-image/mobile-slide-photo-restaurant-5.jpg"
        srcset="
          /src/images/mobile-image/mobile-slide-photo-restaurant-5.jpg    1x,
          /src/images/mobile-image/mobile-slide-photo-restaurant-5@x2.jpg 2x
        "
        class="restdetails__img"
        alt="Стейк"
        width="274"
      />

      <img
        src="/src/images/mobile-image/mobile-slide-photo-restaurant-half.jpg"
        srcset="
          /src/images/mobile-image/mobile-slide-photo-restaurant-half.jpg    1x,
          /src/images/mobile-image/mobile-slide-photo-restaurant-half@x2.jpg 2x
        "
        class="restdetails__img-half"
        alt="Шашлик"
        width="75"
      />
    </div>
    <!--tablet slider-->
    <div class="restdetails__slider">
      <div class="restdetails__tabletslider">
        <img
          src="/src/images/tablet-image/tablet-slide-photo-restaurant-5.jpg"
          srcset="
            /src/images/tablet-image/tablet-slide-photo-restaurant-5.jpg    1x,
            /src/images/tablet-image/tablet-slide-photo-restaurant-5@x2.jpg 2x
          "
          class="restdetails__img-tablet"
          alt="Стейк"
          width="270"
        />

        <img
          src="/src/images/tablet-image/tablet-slide-photo-restaurant-6.jpg"
          srcset="
            /src/images/tablet-image/tablet-slide-photo-restaurant-6.jpg    1x,
            /src/images/tablet-image/tablet-slide-photo-restaurant-6@x2.jpg 2x
          "
          class="restdetails__img-tablet-half"
          alt="Стейк"
          width="162"
        />

        <img
          src="/src/images/tablet-image/tablet-slide-photo-restaurant-7.jpg"
          srcset="
            /src/images/tablet-image/tablet-slide-photo-restaurant-7.jpg    1x,
            /src/images/tablet-image/tablet-slide-photo-restaurant-7@x2.jpg 2x
          "
          class="restdetails__img-tablet-half"
          alt="Стейк"
          width="162"
        />
      </div>
      <!--desktop slider-->
      <div class="restdetails__desktopslider">
        <img
          src="/src/images/desktop-image/desktop-slider-photo-restaurant-5.jpg"
          srcset="
            /src/images/desktop-image/desktop-slider-photo-restaurant-5.jpg    1x,
            /src/images/desktop-image/desktop-slider-photo-restaurant-5@x2.jpg 2x
          "
          class="restdetails__img-tablet"
          alt="Стейк"
          width="270"
        />

        <img
          src="/src/images/desktop-image/desktop-slider-photo-restaurant-6.jpg"
          srcset="
            /src/images/desktop-image/desktop-slider-photo-restaurant-6.jpg    1x,
            /src/images/desktop-image/desktop-slider-photo-restaurant-6@x2.jpg 2x
          "
          class="restdetails__img-tablet-half"
          alt="Стейк"
          width="162"
        />

        <img
          src="/src/images/desktop-image/desktop-slider-photo-restaurant-7.jpg"
          srcset="
            /src/images/desktop-image/desktop-slider-photo-restaurant-7.jpg    1x,
            /src/images/desktop-image/desktop-slider-photo-restaurant-7@x2.jpg 2x
          "
          class="restdetails__img-tablet"
          alt="Стейк"
          width="270"
        />
      </div>
      <div class="restdetails__arrows">
        <button
          type="button"
          class="restdetails__arrow"
          aria-labelledby="прогорнути лівопуч"
        >
          <svg width="32" height="32">
            <use href="/src/images/sprite.svg#icon-arrow-left-hero"></use>
          </svg>
        </button>
        <button
          type="button"
          class="restdetails__arrow"
          aria-labelledby="прогорнути правовруч"
        >
          <svg width="32" height="32">
            <use href="/src/images/sprite.svg#icon-cil_arrow-right"></use>
          </svg>
        </button>
      </div>
      <div class="restdetails__buttons">
        <button type="button" class="restdetails__modalbtn" data-modal-open3>
          Забронювати столик
        </button>

        <a class="restdetails__link" href="./restaurant.html"
          >Переглянути меню</a
        >
      </div>
    </div>
  </div>
</section>
